.i1{
	width:400px;
	height:400px;
	float:left;
	border-radius:30px; 
	margin-top: 130px;
    opacity:1;
    padding:10px;
	border-style: bold;
	border-width: 10px;
	border-color:red;


}
.i2{
	width:600px;
	height:400px;
	float:left;

	margin: 10px;

}

#first{
	font-size: 50px;
	color: #66ffff;
	padding:10px;border-style: bold;
	border-width: 10px;
	border-color: silver;
	opacity: 0.6;
	background-color:black;
	height: 130px;
	transition:height2s;
	font-family:  serif;
	
	

}
#first:hover{
	height: 150px;
	opacity:0.7;
}
#content{
	margin-top: 140px;
	background-color:black;
	color:white;
	padding: 20px;
	border-style: bold;
	border-width: 10px;
	border-color:silver;
	opacity: 0.4;
	margin-left: 500px;
	margin-right: 50px;
	height: 360px;
	font-size: 30px;
	border-radius: 20px;
	font-family: 'Comic Neue', cursive;


}

#menu ul{
	font-size: 30px;
	float:right;
}
#menu li{
	display: inline;
	padding:15px;
	vertical-align: middle;

	

}
#menu a{
	text-decoration: none;
	padding:8px 8px 8px 8px;
	vertical-align: middle;
}
#menu a:hover{
	color: white;
	opacity: 0.5;
}


.bottom{
	background-color: black;
	opacity: 0.6;
	font-size: 30px;
	color:white;
	margin-top: 50px;
	text-align: center;
	padding: 15px;
	font-family: 'Shadows Into Light', cursive;

}
#sound{
	float: right;
margin-top: 50px;
margin-right:50px;
}
#contact{
	margin-left: 0px;
	font-size: 80px;
	font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;

}
.fb{
	margin-top: 200px;
	border-radius: 20px; 
}
.lk{
	float: right;
	border-radius: 20px;
	margin-top: 200px;
}
.git{
	float:right;
	border-radius: 20px;
	margin-top:430px;
	margin-right: 200px;
}
.ig{
	margin-left: 400px;
	border-radius:20px;
}
#list{
	font-size: 30px;
	color: #999900;
	margin-left: 100px;
	font-family: 'Comic Neue', cursive;
}
.acads{
	font-size: 30px;
}